/* Copyright by Simon Duerr*/
/*colors for Aggregat4*/

/*Color ---Block
/*Color Defintions*/
:root {
  --white: #ffffff;
  --bluewhite: #f0f4f8;
  --bluegrey: #8ca6be;
  --darkblue: #4f81b4;
  --red: #ff0000;
  --green: #008000;
  --black: #000000;
}
  
/*Background Colors*/
.bg-color-white { background-color: var(--white); }
.bg-color-bluewhite { background-color: var(--bluewhite); }
.bg-color-bluegrey { background-color: var(--bluegrey); }
.bg-color-darkblue { background-color: var(--darkblue); }
.bg-color-red { background-color: var(--red); }
.bg-color-green { background-color: var(--green); }
.bg-color-black { background-color: var(--black); }
  
/*Text Colors*/
.color-white { color: var(--white); }
.color-bluewhite { color: var(--bluewhite); }
.color-bluegrey { color: var(--bluegrey); }
.color-darkblue { color: var(--darkblue); }
.color-red { color: var(--red); }
.color-green { color: var(--green); }
.color-black { color: var(--black); }
  
/*Hover Colors*/
.hover-color-darkblue:hover { color: var(--red); }