/* Copyright by Simon Duerr*/
/*layout for aggregat4*/


/*Global Variables */
:root {
/*margin*/
    --page-margin-inline: 5%;
    --main-margin-top: 15px;
    --main-padding: 15px;
    --content-margin: 15px;

    /*gaps*/
    --gap-navigation: 4em;

    /*padding*/
    --global-padding-m: 1em;
    --global-padding-s: 0.5em;
    --content-padding: 15px;

    /*height*/
    --logo-max-height: 100px;

    /*radius*/
    --logo-radius: 3em;
    --content-radius: 15px;

    /*shadows*/
    --shadow-default: 0 4px 12px rgba(0,0,0,0.15);
}
  
/*Global Styles*/
body {
    margin-inline: var(--page-margin-inline);
    /*sets text into middle*/
    text-align: center;
}
  
main {
    margin-top: var(--main-margin-top);
    padding: var(--main-padding);
}

/*definition of white Content Blocks*/
.content-block {
    padding: var(--content-padding);
    margin: var(--content-margin);
    border-radius: var(--content-radius);
    box-shadow: var(--shadow-default);
}
  
  
/*custom Layout*/
/*Header Navigation Menue*/
.layout-logo img {
    padding: var(--global-padding-m);
    max-height: var(--logo-max-height);
    border-radius: var(--logo-radius);
}
  
.layout-navigation {
    padding: 6px;
}
  
.layout-navigation ul {
    display: flex;
    justify-content: center;
    gap: var(--gap-navigation);
}
  
.layout-navigation ul li a {
    display: inline-block;
    transition: transform 0.5s ease;
}
.layout-navigation ul li a:hover{
  color:var(--red)
}

/*About Aggregat4*/
.aboutus-values li{
    padding: var(--global-padding-s);
    margin-top: var(--main-margin-top);
    border-radius: var(--content-radius);
    box-shadow: var(--shadow-default);
}

/*Forms*/
.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-content: center;
  margin: auto;
}
/*Contact Button Layout*/
.contact-form button {
  margin-top: var(--content-margin);
  padding: var(--content-padding);
  border: none;
  border-radius: var(--content-radius);
}

.email-me{
  right: 40px;
  bottom: 40px;
  position:fixed;
  padding: 0.5em;
  border-radius: 45%;
  box-shadow: var(--shadow-default);
}

.email-me:hover{
  background-color: var(--green)
}
  