/*---Copyright by Simon Duerr---*/

/*Global Style Attributes*/
html{
  /*smooth scrolling for id referencing*/
  scroll-behavior: smooth;
}

body {
  margin-inline: var(--page-margin-inline);
  text-align: center;
}

main {
  margin-top: var(--main-margin-top);
  padding: var(--main-padding);
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}