/* Copyright by Simon Duerr*/
/*colors for Aggregat4*/

/*utilities*/
html{
  scroll-behavior: smooth;
}

/*global classes*/

/*lists*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*links*/
a {
  text-decoration: none;
  color: inherit;
}

/*text styles*/
.text-center {
  text-align: center;
}

/*custom classes*/

/*Servicecheck*/
.btn-quickcheck{
  border-radius: var(--content-radius);
  border-style: none;
  box-shadow: var(--shadow-default);
}
.btn-quickcheck:hover{
  background-color: var(--green)
}

/*values*/
.wert {
  padding: 10px;
  margin: 5px;
  background-color: #eee;
  cursor: move;
}

